<div class="well-wrap well">
  <div class="title">
    Reset Password
  </div>

  <div class="panel-content">
    <%= form_for @user, :url => password_reset_path(@user), :html => {:method => :put} do |f| %>
      <%= hidden_field_tag :token, @token %>

      <% if @user.errors.any? %>
        <div class="error_messages">
          <h4>Please correct the error(s) below:</h4>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="text-input-container">
        Email: <%= @user.email %>
      </div>
      <br/>
      <div class="text-input-container">
        <%= f.password_field :password, :placeholder => "New Password", :class => 'text_field', :required => true %>
      </div>

      <div class="text-input-container">
        <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation", :class => 'text_field', :required => true %>
      </div>

      <%= submit_tag "Update password!", :class => "btn btn-info login-btn" %>
    <% end %>
  </div>

  <div class="panel-footer">
    Back to login page?
    <%= link_to "Log in", login_path %>
  </div>

</div>