<div class="navbar navbar-fluid-top navbar-inverse">
  <div class="navbar-inner sharp-ended">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <%= link_to image_tag("logo-h45.png"), (current_user.present? ? home_schools_path : root_path), :class => "brand" %>

      <div class="nav-collapse">
        <ul class="nav">
          <li>
            <div class="slogan">"Learn more."</div>
          </li>
        </ul>
      </div>

      <div class="nav-collapse suggest-course-menu">
        <ul class="nav" style="margin-right: 0px;">
          <li>
            <%= link_to "Suggest a Course", suggest_course_path, :class => "btn btn-info suggest-course fancybox" %>
          </li>
        </ul>
      </div>

      <div class="nav-collapse pull-right">
        <ul class="nav">
          <% if current_user %>
            <li>
              <%= link_to current_user.name, current_user %>
            </li>
            <li>
              <%= link_to "Logout", logout_path  %>
            </li>
          <% else %>
            <li>
              <%= link_to "Log in", login_path  %>
            </li>
            <li>
              <%= link_to "Sign up", signup_path  %>
            </li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->


      <div class="nav-collapse pull-right">
        <ul class="nav social">
          <li>
            <div id="fb-root"></div>
            <script>
              (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id))
                  return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
                window.fbAsyncInit = function() {
                  FB.init({
                    appId: '362079183898081'
                  });
                };
              }(document, 'script', 'facebook-jssdk'));
            </script>
            <div class="fb-like" data-href="https://www.facebook.com/Courselinks" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="arial"></div>
          </li>
          <li>
            <a href="https://twitter.com/courselinks" class="twitter-follow-button" data-show-count="false">Follow @Course Links</a>
            <script>
                !function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (!d.getElementById(id)) {
                  js = d.createElement(s);
                  js.id = id;
                  js.src = "//platform.twitter.com/widgets.js";
                  fjs.parentNode.insertBefore(js, fjs);
                }
              }(document, "script", "twitter-wjs");
            </script>
          </li>
        </ul>
      </div>


    </div>
  </div>
</div>

<% if current_school.present? %>
  <div id="banner">
    <div class="container-fluid">
      <p class="muted">
        <%= link_to current_school.name, home_schools_path, :class => "school-home" %>
      </p>
    </div>
  </div>
<% end %>