<%= semantic_form_for Link.new, :url => admin_school_course_topic_section_links_path(@school, section.topic.course, section.topic, section), :html => {:style => "display: none", :id => "link-form-of-#{section.id}"} do |f| %>
  <%= f.inputs do %>
    <%= f.input :url %>
    <%= f.input :file %>
    <%= f.input :description, :input_html => {:rows => 2} %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit %>
    <li class="action input_action">
      <input type="submit" value="Cancel" name="cancel" class="close-form"/>
    </li>
  <% end %>
<% end %>