<%= semantic_form_for Section.new, :url => admin_school_course_topic_sections_path(@school, topic.course, topic), :html => {:style => "display: none", :id => "section-form-of-#{topic.id}"} do |f| %>
  <%= f.inputs do %>
    <%= f.input :name, :input_html => {:class => "name-field"} %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit %>
    <li class="action input_action">
      <input type="submit" value="Cancel" name="cancel" class="close-form"/>
    </li>
  <% end %>
<% end %>