<%= link_to course_topic_section_link_path(@course.id, @topic.id, @section.id, link.id),
  :class => "#{link.approved? ? 'approved_link' : index.odd? ? 'ash'  : 'white'} list-group-item link_section span11"  do %>
  <div class="row-fluid">
    <div class="span12 single-course-description">
      <%= link.description.truncate(115) %>
    </div>
  </div>
  <div class="row-fluid link-small-info">
    <div class="span4">
      Submitted by:
      <%= link.user.name %>
    </div>
    <div class="span4">
      <%="#{time_ago_in_words(link.created_at)} ago "%>
    </div>
    <div class="span4">
      Reference:
      <%= link.host %>
    </div>
  </div>
<% end %>

<div class="span1 vote-container" id="vote_container_<%= link.id %>">
  <%= render "links/vote", :link => link %>
</div>
<% if current_course_admin(link) %>
  <%= link_to "#{link.approved? ? "Unapprove" : "Approve"}", approve_link_path(link), :class => "btn btn-primary" %>
  <%= link_to "Delete", link_path(link), :method => :delete, :confirm => "Are you sure",:class => "btn btn-primary" %>
<% end %>




