<div class="span12">
  <div id="container">
    <% @courses.each do |course| %>
      <%= render "courses/single_course", course: course %>
    <% end %>
  </div>
  <div class="ajax-loader">
    <%= image_tag "spinner.gif" %>
  </div>
</div>


<%= content_for :js do %>
  <%= javascript_include_tag "masonry.pkgd.min" %>
  <script type="text/javascript">
    $(document).ready(function(){

      var container = document.querySelector('#container');

      var msnry = new Masonry( container, {
        columnWidth: 100,
        "gutter": -14,
        itemSelector: '.item'
      });;

      var courses = "exists";
      var page = 2;
      $(window).scroll(function () {
        if(courses == "exists")
        {
          if ($(window).height() + $(window).scrollTop() == $(document).height()) {
            no=2;
            $.ajax({
              type: "GET",
              url: "<%= courses_schools_path %>/?page=" + page,
              dataType: 'html',
              //data: datas,
              cache: false,
              beforeSend: function(){
                $('.ajax-loader').css('display', 'block');
              },
              success: function(html){
                var elems = [];
                page = page + 1;
                $('.ajax-loader').css('display', 'none');
                if ($.trim(html) == "empty"){
                  courses = "empty";
                }else{
                  var html_array = html.split('||separator||');

                  $.each(html_array, function(index, result) {
                    result = $.parseHTML(result)[1];
                    elems.push(result);
                    container.appendChild( result );
                  });
                  msnry.appended( elems );
                }
              }
            });
          }
        }
      });
    });

  </script>

<% end %>
