<div class="span3 well" style="min-height:200px;margin-left: 0px">
  <ul class="nav nav-list">
    <li class="nav-header">
      <h5>
        Index of 
        <%= link_to @course.name, @course %>
      </h5>
    </li>
    <% @topics.each do |topic| %>
      <li>
        <%= link_to "javascript:void(0)", :data => {:toggle => "collapse", :target => "#toggle#{topic.id}"}, :class => "toggle-link" do %>
          <% if topic.sections.count > 0 %>
            <i class="<%= @topic_id.to_i == topic.id ? 'icon-minus-sign' : 'icon-plus-sign' %>"></i>
          <% else %>
            <i class="icon-circle-arrow-right"></i>
          <% end %>
          <%= topic.name %>
        <% end %>
        <ul class="nav nav-list collapse <%= "in" if @topic_id.to_i == topic.id %>  " id="toggle<%= topic.id %>" style="margin-left: 10px;">
          <% topic.sections.each do |section| %>
            <li class="<%= "active" if @section_id.to_i == section.id %>">
              <%= link_to section.name, course_topic_section_path(@course, topic.id, section.id) %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>