<div class="item" >
  <%= link_to course_path(course), :class => "item-link" do %>
    <div class="single-course-name">
      <%= course.name %>
    </div>
    <% if course.title.present? %>
      <div class="single-course-title">
        <span>
          <%= course.title %>
        </span>
      </div>
    <% end %>
    <% if course.image.present? %>
      <div class="single-course-image">
        <%= image_tag course.image_url   %>
      </div>
    <% else %>
      <div class="single-course-image">
        <%= image_tag "default.jpg"   %>
      </div>
    <% end %>
  <% end %>
</div>