<div class="row-fluid single-link" style="border-bottom: 1px solid #777777;margin-bottom: 15px;">
  <%= link_to course_topic_section_link_path(@course.id, @topic.id, @section.id, link.id) do %>
    <div class="span9 link-hover">
      <div class="row-fluid single-res">
        <div class="span2 offset1 attr-name">
          URL:
        </div>
        <div class="span9 attr-val">
          <%= link.url %>
        </div>
      </div>
      <div class="row-fluid single-res">
        <div class="span2 offset1 attr-name">
          Description:
        </div>
        <div class="span9 attr-val">
          <%= link.description %>
        </div>
      </div>
    </div>
  <% end %>
  <% unless link.user == current_user %>
    <div class="span3">
      <div class="row-fluid">
        <div class="span6">
          <div class="arrow-up" id="<%= link.id %>"></div>
          <div class="arrow-text" id ="up_<%= link.id %>"><%= link.vote %></div>
        </div>
        <div class="span6">
          <div class="arrow-text" id="down_<%= link.id %>"><%= link.vote %></div>
          <div class="arrow-down" id="<%= link.id %>"></div>
        </div>
      </div>
    </div>
  <% end %>
</div>