<div class="span12 well">
  <%= render "courses/description_index" %>

  <div class="span9 well" style="height:1100px">
    <% unless @topic %>
      <div class="nav-header" style="font-size: 20px;text-align: center;">No topic is added for this course.</div>
    <% else %>
      <% if @approved_links.present? or @unapproved_links.present? %>
        <div class="dynamic">
          <%= render 'courses/links' %>
        </div>
      <% else %>
        <legend>
          <h4>No link submitted yet. Would you like to post a link under this topic?</h4>
        </legend>
      <% end %>
      <div class="span12 well" style="max-height: 300px; margin-left: 0px">
        <h5>New Link</h5>
        <legend></legend>
        <div class="error"></div>
        <%= form_for @new_link,:remote => true,:html => { :class => 'form-horizontal' } do |f| %>
          <%= f.hidden_field :section_id, :value => @section.id %>
          <div class="control-group">
            <%= f.label :url, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :url, :class => 'text_field',:required => true %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :description, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_area :description, :class => 'text_field', :rows => '2', :required => true %>
            </div>
          </div>
          <div class="form-actions">
            <%= f.submit nil, :class => 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>

