<div class="span12 well">
  <%= render "courses/description_index" %>

  <div class="span9 well course-show-container">
    <% unless @topic %>

      <div class="row-fluid">
        <div class="span12">
          <div class="nav-header" style="font-size: 20px;text-align: center;margin-bottom: 30px;">Welcome to <%= @course.name %></div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <%= image_tag @course.image_url if @course.image.present? %>
            <%= image_tag "default.jpg" if @course.image.blank? %>
          </div>
          <div class="span8" style="color: #777777;">
            <%= @course.description if @course.description.present? %>
          </div>
        </div>
      </div>
    <% else %>
      <% if @approved_links.present? or @unapproved_links.present? %>
        <div class="dynamic">
          <%= render 'links/list' %>
        </div>
      <% else %>
        <legend>
          <h4>No link submitted yet. Would you like to post a link under this section?</h4>
        </legend>
      <% end %>
      <div class="span12 well" style="max-height: 300px; margin-left: 0px">
        <legend>
          <%= link_to "Submit Link", "javascript:void(0)", :class => "btn btn-primary", :id => "submit-toggle" %>
        </legend>
        <%= form_for @new_link, :html => { :class => 'form-horizontal toggle-form' } do |f| %>
          <%= f.hidden_field :section_id, :value => @section.id %>
          <div class="control-group">
            <%= f.label :url, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :url, :class => 'text_field',:required => true %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :description, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_area :description, :class => 'text_field', :rows => '2', :required => true %>
            </div>
          </div>
          <div class="form-actions">
            <%= f.submit "Submit", :class => 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>

